html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    background: #ececec;
    margin: 0;
    width: 100%;
}

.central-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 20%;
    min-height: 40%;
    padding: 50px 30px;
    background-color: #142d4c;
}

.central-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    min-width: 20%;
    min-height: 90%;
    padding: 10px 30px 50px 30px;
    background-color: #142d4c;
}

.border {
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    border-radius: 3px 3px 3px 3px;
    box-sizing: border-box;
}

.title {
    font-size: 250%;
    color: #9fd3c7;
    text-align: center;
    margin-bottom: 20px;
}

.app-header {
    height: 5%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.search-input {
    width: 100%;
    padding: 12px 24px;
    font-size: 18px;
    color: #000000;
    background-image: url("/images/search_icon.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #000000;
    backface-visibility: hidden;
    transition: all 250ms ease-in-out;
    transform-style: preserve-3d;
}

.search-input:hover, .search-input:focus {
    padding: 12px 12px;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    background-position: 99% center;
}

.search-input::placeholder {
    color: #000000;
    text-transform: uppercase;
}

a img{
    float: right;
    height: 30px;
}
